{% extends "base.html" %}
{% block content %}
  {% if account_info %}
    <div>
        <p>Linked to dropbox account <em>{{account_info.email}}</em></p>
        <p><a href="{% url 'dropbox_logout' %} " method="post">Disassociate this Dropbox account</a></p>
        <ul class="sites">
            {% for site in sites %}

                <li>{{ site.domain }}</li>
            {% endfor %}
        </ul>
    </div>
  {% else %}
    <div>
    <h1>Not currently linked to any Dropbox account.</h1>
    <p>Please grant Ugh Fields permission to access your Dropbox account by following the link below.</p>
    <a href="{% url 'dropbox_auth_start' %}">Link</a>
    </div>
  {% endif %}  
{% endblock content %}
